html{
    height: 100%;
    margin: 0;
    background-color: linear-gradient(50deg, rgba(214,242,255,1) 0%, rgba(122,186,230,1) 100%);;
    color: #00487C;
    font-family: "Lucida Console", "Courier New", monospace;
}